// GRID //
@import 'grid.less';
@column-width: 60;
@gutter-width: 20;
@columns: 14;

body, ul, ol { margin: 0; padding: 0; }

body {
	font-family: "Helvetica Neue", sans-serif;
	font-size: .95em;
	padding-bottom: 3em;
}
p {
	line-height: 1.5em;
}

#bg {
	display: none;
	position: fixed;
	left: 50%;
	margin-left: -2425px;
	width: 2000px;
	height: 100%;
	border-right: 1px dotted #ccc;
	z-index: 0;
}
#container {
	position: relative;
	width: 1120px;
	margin: 0 auto;
	z-index: 1;
}
header {
	.row;
	
	// logo //
	h1 {
		.grid(6);
		padding: 1em 0 0.5em 0;
		font-size: 2.5em;
		line-height: 1.2em;
		font-weight: normal;
	  	font-family: "raleway-1","raleway-2";
		color: #526655;
		
		padding-left: (@column-width + @gutter-width) * 2px;
	}
	
	// navigation //
	nav {
		.grid(6);
		
		ul {
			float: right;
			overflow: hidden;
			
			li {
				list-style: none outside none;
				float: left;
				padding: 3.5em 0 0 0;
				margin: 0.25em 0 0 2em;
				text-transform: uppercase;
				
				a {
					text-decoration: none;
					color: #999;
				}
				
				&:hover {
					border-top: 0.25em solid #ccc;
					margin-top: 0;
				}
			}
		}
	}
	
	// hero image //
	figure#hero {
		.grid(14);
		
		figcaption {
			display: block;
			position: relative;
			font-family: Georgia;
			font-style: italic;
			color: #666;
			font-size: 1.25em;
			padding: 0.5em;
			margin-left: (@column-width + @gutter-width) * 2px;
			margin-top: -3px;
			background-color: #e9e9e9;
		}
	}
	
}
article {
	.row;
	margin-top: 10px;
	
	section {
		.grid(8);
		padding-left: (@column-width + @gutter-width) * 2px;
		
		h2 {
			width: 130px;
			margin: 1.5em 0 -2.4em -160px;
			text-align: right;
			font-size: 1em;
			line-height: 1.5em;
			text-transform: uppercase;
		}
	}
	aside {

	}
}
